{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "publish": {
      "plugins": [
        ["transform-rename-import",
         { "original": "./style.scss", 
           "replacement": "./style.css"
         }],
      ]
    }
  }
}